:root {
    --sab: env(safe-area-inset-bottom);
}

body,
html {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width:100%;
    height: 100%;
    overflow: auto;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.6;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    -webkit-touch-callout: none;
    color: #333;
    background-color: #ededed;
    letter-spacing: .034em;
}


body.yw_wap_page {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
}

body,
html {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
dl,
dd,
fieldset,
textarea {
    margin: 0;
}

body {
    line-height: 1.6;
    font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
    font-size: 16px;
}

body {
    --weui-BG-COLOR-ACTIVE: #ececec;
}

body {
    --weui-BG-0: #ededed;
    --weui-BG-1: #f7f7f7;
    --weui-BG-2: #fff;
    --weui-BG-3: #f7f7f7;
    --weui-BG-4: #4c4c4c;
    --weui-BG-5: #fff;
    --weui-FG-0: rgba(0, 0, 0, 0.9);
    --weui-FG-HALF: rgba(0, 0, 0, 0.9);
    --weui-FG-1: rgba(0, 0, 0, 0.5);
    --weui-FG-2: rgba(0, 0, 0, 0.3);
    --weui-FG-3: rgba(0, 0, 0, 0.1);
    --weui-RED: #fa5151;
    --weui-ORANGE: #fa9d3b;
    --weui-YELLOW: #ffc300;
    --weui-GREEN: #91d300;
    --weui-LIGHTGREEN: #95ec69;
    --weui-BRAND: #07c160;
    --weui-BLUE: #10aeff;
    --weui-INDIGO: #1485ee;
    --weui-PURPLE: #6467f0;
    --weui-WHITE: #fff;
    --weui-LINK: #576b95;
    --weui-TEXTGREEN: #06ae56;
    --weui-FG: black;
    --weui-BG: white;
    --weui-TAG-TEXT-ORANGE: #fa9d3b;
    --weui-TAG-BACKGROUND-ORANGE: rgba(250, 157, 59, 0.1);
    --weui-TAG-TEXT-GREEN: #06ae56;
    --weui-TAG-BACKGROUND-GREEN: rgba(6, 174, 86, 0.1);
    --weui-TAG-TEXT-BLUE: #10aeff;
    --weui-TAG-BACKGROUND-BLUE: rgba(16, 174, 255, 0.1);
    --weui-TAG-TEXT-BLACK: rgba(0, 0, 0, 0.5);
    --weui-TAG-BACKGROUND-BLACK: rgba(0, 0, 0, 0.05);
}

body {
    --weui-DIALOG-LINE-COLOR: rgba(0, 0, 0, 0.1);
}

body {
    --weui-BTN-DEFAULT-ACTIVE-BG: #e6e6e6;
}

body {
    --weui-BTN-DEFAULT-COLOR: #06ae56;
}

body {
    --weui-BTN-DEFAULT-BG: #f2f2f2;
}

body {
    --weui-BTN-DISABLED-FONT-COLOR: rgba(0, 0, 0, 0.2);
}

.yw_top_banner {
    background-color: #fff;
}

.yw_body .yw_rich_media_inner {
    position: relative;
}

.yw_rich_media_inner {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.yw_skin_default .yw_rich_media_area_primary {
    background-color: #fff;
}

.yw_rich_media_area_primary {
    padding: 20px 16px 12px;
    padding: calc(20px + constant(safe-area-inset-top)) calc(16px + constant(safe-area-inset-right)) 12px calc(16px + constant(safe-area-inset-left));
    padding: calc(20px + env(safe-area-inset-top)) calc(16px + env(safe-area-inset-right)) 12px calc(16px + env(safe-area-inset-left));
    background-color: #fafafa;
}

.yw_desktop_fontsize_2 .like_comment_wrp,
.yw_desktop_fontsize_2 .like_comment_primary_wrp,
.yw_desktop_fontsize_2 .share_mod_context,
.yw_desktop_fontsize_2 .original_page,
.yw_desktop_fontsize_2 .discuss_more_pc_dialog,
.yw_desktop_fontsize_2 .weui-toast,
.yw_desktop_fontsize_2 .weui-dialog,
.yw_desktop_fontsize_2 .function_mod,
.yw_desktop_fontsize_2 .rich_media_extra,
.yw_desktop_fontsize_2 .like_comment_wrp,
.yw_desktop_fontsize_2 .yw_rich_media_tool,
.yw_desktop_fontsize_2 .article_extend_area,
.yw_desktop_fontsize_2 .article-tag__list,
.yw_desktop_fontsize_2 .yw_rich_media_wrp {
    zoom: 1;
}

.yw_rich_media_wrp {
    position: relative;
}

.yw_rich_media_title {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 14px;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
dl,
dd,
fieldset,
textarea {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 16px;
}

.yw_body .yw_rich_media_meta_list {
    position: relative;
    z-index: 1;
}

.yw_rich_media_meta_list {
    margin-bottom: 2px;
    line-height: 20px;
    font-size: 0;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.yw_rich_media_meta_nickname {
    position: relative;
}

.yw_rich_media_meta {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 10px 0;
    font-size: 15px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.yw_weui-wa-hotarea,
.yw_weui-wa-hotarea-el__wrp,
.yw_weui-wa-hotarea_before {
    position: relative;
}

a,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: #576b95;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.yw_body .profile_container {
    width: 535px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 10px;
    font-size: 14px;
    *margin-top: 10px;
}

@media screen and (max-width: 1023px) .profile_container {
    display: none !important;
}

.yw_rich_media_content img {
    height: auto !important;
}

.yw_rich_media_content * {
    max-width: 100% !important;
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    word-wrap: break-word !important;
}


.page_video.page_video .pic_mid_play {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Ccircle cx='16' cy='16' r='16' fill='%23000' fill-opacity='.15'/%3E %3Cpath fill='%23FFF' fill-rule='nonzero' d='M16 0c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zm0 1C7.716 1 1 7.716 1 16c0 8.284 6.716 15 15 15 8.284 0 15-6.716 15-15 0-8.284-6.716-15-15-15zm-3.2 9.179a.8.8 0 0 1 .397.105l8.787 5.021a.8.8 0 0 1 0 1.39l-8.787 5.021A.8.8 0 0 1 12 21.021V10.98a.8.8 0 0 1 .8-.8z'/%3E %3C/g%3E%3C/svg%3E);
}


.page_video .full_screen_opr .mid_play_box .video_length {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    line-height: 1.4;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 1px 2px rgb(0 0 0 / 50%);
}

.page_video .full_screen_opr .video_length {
    color: #fefefe;
    font-size: 12px;
    padding-top: 8px;
}

span.video_iframe .page_video * {
    max-width: unset !important;
    box-sizing: unset !important;
    -webkit-box-sizing: unset !important;
    word-wrap: unset !important;
}

.yw_rich_media_content p {
    clear: both;
    min-height: 0em;
	line-height: unset;
}

span.video_iframe .page_video * {
    max-width: unset !important;
    box-sizing: unset !important;
    -webkit-box-sizing: unset !important;
    word-wrap: unset !important;
}

span.video_iframe .page_video * {
    max-width: unset !important;
    box-sizing: unset !important;
    -webkit-box-sizing: unset !important;
    word-wrap: unset !important;
}

.page_video .poster_cover {
    text-align: center;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 7;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #000;
}

.page_video.page_video .full_screen_opr .mid_play_box {
    top: calc(50% - 12px);
}

.page_video .full_screen_opr .mid_play_box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

span.video_iframe .page_video * {
    max-width: unset !important;
    box-sizing: unset !important;
    -webkit-box-sizing: unset !important;
    word-wrap: unset !important;
}


span.video_iframe .page_video * {
    max-width: unset !important;
    box-sizing: unset !important;
    -webkit-box-sizing: unset !important;
    word-wrap: unset !important;
}

.page_video .aria_hidden_abs,
.page_video .weui-hidden_abs {
    position: absolute;
    left: -9999em;
    width: 0;
    height: 0;
    overflow: hidden;
}

.aria_hidden_abs,
.weui-hidden_abs {
    position: absolute;
    left: -9999em;
    width: 0;
    height: 0;
    overflow: hidden;
}

.aria_hidden_abs,
.weui-hidden_abs {
    position: absolute;
    left: -9999em;
    width: 0;
    height: 0;
    overflow: hidden;
}

.yw_rich_media_content * {
    max-width: 100% !important;
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    word-wrap: break-word !important;
}


.page_video.page_video .wx_video_play_opr {
    background: transparent;
}

span.video_iframe .page_video * {
    max-width: unset !important;
    box-sizing: unset !important;
    -webkit-box-sizing: unset !important;
    word-wrap: unset !important;
}

.page_video .full_screen_opr {
    z-index: 12;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


.page_video.page_video .full_screen_opr .mid_play_box {
    top: calc(50% - 12px);
}

.page_video .full_screen_opr .mid_play_box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

span.video_iframe .page_video * {
    max-width: unset !important;
    box-sizing: unset !important;
    -webkit-box-sizing: unset !important;
    word-wrap: unset !important;
}

.yw_rich_media_content * {
    max-width: 100% !important;
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    word-wrap: break-word !important;
}

.yw_body .profile_inner {
    position: relative;
    padding: 30px 22px 36px 144px;
    background-color: #fff;
    border: 1px solid #d9dadc;
    *zoom: 1;
}

.yw_body .profile_nickname {
    font-size: 16px;
    font-weight: 400;
}

.yw_body .profile_avatar {
    position: absolute;
    width: 100px;
    left: 24px;
    top: 24px;
    height: 100px !important;
}

.yw_body .profile_meta {
    margin-top: 5px;
    overflow: hidden;
    *zoom: 1;
}

.yw_body .profile_meta_label {
    float: left;
    width: 4.3em;
    margin-right: 1em;
}

.yw_body .profile_meta_value {
    display: block;
    overflow: hidden;
    *zoom: 1;
    color: #adadad;
}

.yw_body .profile_meta {
    margin-top: 5px;
    overflow: hidden;
    *zoom: 1;
}

.yw_body .profile_meta_label {
    float: left;
    width: 4.3em;
    margin-right: 1em;
}

.yw_body .profile_meta_value {
    display: block;
    overflow: hidden;
    *zoom: 1;
    color: #adadad;
}

.yw_body .profile_arrow_wrp {
    position: absolute;
    left: 22px;
    top: -8px;
}

.yw_rich_media_meta_list em {
    font-style: normal;
}

.yw_rich_media_meta_text {
    color: rgba(0, 0, 0, 0.3);
}

.yw_rich_media_meta {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 10px 0;
    font-size: 15px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.article-tag__list {
    font-size: 0;
    margin: 0 0 16px;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #f7f7f7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.article-tag-card__title {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 20px;
}

.article-tags {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.yw_body .yw_rich_media_content {
    position: relative;
}

.yw_rich_media_content {
    overflow: hidden;
    color: #333;
    font-size: 17px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: justify;
    position: relative;
    z-index: 0;
}

.rich_media_area_extra {
    padding: 0 0 40px;
    padding: 0 constant(safe-area-inset-right) calc(40px + constant(safe-area-inset-bottom)) constant(safe-area-inset-left);
    padding: 0 env(safe-area-inset-right) calc(40px + env(safe-area-inset-bottom)) env(safe-area-inset-left);
}

.page_video.page_video .pic_mid_play {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E  %3Cg fill='none' fill-rule='evenodd'%3E    %3Ccircle cx='16' cy='16' r='16' fill='%23000' fill-opacity='.15'/%3E    %3Cpath fill='%23FFF' fill-rule='nonzero' d='M16 0c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zm0 1C7.716 1 1 7.716 1 16c0 8.284 6.716 15 15 15 8.284 0 15-6.716 15-15 0-8.284-6.716-15-15-15zm-3.2 9.179a.8.8 0 0 1 .397.105l8.787 5.021a.8.8 0 0 1 0 1.39l-8.787 5.021A.8.8 0 0 1 12 21.021V10.98a.8.8 0 0 1 .8-.8z'/%3E  %3C/g%3E%3C/svg%3E");
}

span.video_iframe .page_video * {
    max-width: unset !important;
    box-sizing: unset !important;
    -webkit-box-sizing: unset !important;
    word-wrap: unset !important;
}

.yw_style_default .yw_rich_media_tool {
    margin-top: 15px;
}



.yw_rich_media_tool {
    font-size: 15px;
    margin-top: 15px;
    line-height: 32px;
    overflow: visible;
}

.yw_rich_media_tool {
    overflow: hidden;
}

.yw_weui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.yw_weui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.yw_weui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.yw_rich_media_tool .yw_weui-flex__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    min-width: 0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.yw_weui-flex__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}

.yw_weui-flex__item {
    min-width: 0;
}

.yw_weui-flex__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.yw_weui-flex__item {
    min-width: 0;
}

.yw_weui-flex__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}

.yw_rich_media_tool .yw_weui-flex__item .yw_meta_primary:last-child {
    margin-right: 0;
}

.yw_rich_media_tool .yw_meta_primary {
    margin-right: 20px;
}

.yw_rich_media_tool .yw_meta_primary,
.yw_rich_media_tool .meta_extra {
    float: none;
}

.yw_rich_media_tool .yw_meta_primary {
    float: left;
    margin-right: 10px;
}


.yw_tips_global_primary {
    color: rgba(0, 0, 0, 0.3);
}

.yw_rich_media_tool>.yw_weui-flex+.yw_weui-flex {
    position: relative;
}

.yw_rich_media_tool .yw_sns_opr_area {
    padding-top: 8px;
    line-height: 28px;
}

.yw_rich_media_tool .yw_meta_primary {
    margin-right: 20px;
}

.yw_rich_media_tool .yw_meta_primary,
.yw_rich_media_tool .meta_extra {
    float: none;
}

.yw_rich_media_tool .yw_meta_primary {
    float: left;
    margin-right: 10px;
}

.yw_media_tool_meta {
    white-space: nowrap;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.yw_rich_media_tool .yw_weui-flex__item .yw_meta_primary:last-child {
    margin-right: 0;
}

.yw_weui-wa-hotarea,
.yw_weui-wa-hotarea-el__wrp,
.yw_weui-wa-hotarea_before {
    position: relative;
}

.sns_opr_btn {
    display: inline-block;
    vertical-align: middle;
    font-family: inherit;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    background: transparent;
    border: 0;
    padding: 0;
    color: #576b95;
    font-size: 15px;
    margin-top: -0.2em;
}

a,
button {
    cursor: pointer;
}


.sns_opr_btn:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    width: 1em;
    height: 1em;
    margin-top: -0.1em;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: currentColor;
}


.sns_collect_btn:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%23576B95' fill-rule='evenodd' d='M12.863 2.208l7.274 4.244c.477.278.863.954.863 1.5v8.506c0 .55-.387 1.223-.863 1.5l-7.274 4.244c-.477.278-1.25.277-1.726 0l-7.274-4.244c-.477-.278-.863-.954-.863-1.5V7.952c0-.55.387-1.223.863-1.5l7.274-4.244c.477-.278 1.25-.277 1.726 0zm6.936 6.186l-7.2 4.157v8.415l6.933-4.044c.108-.063.268-.34.268-.464l-.001-8.064zm-15.6 0l.001 8.064c0 .12.161.402.268.464l6.931 4.043v-8.414l-7.2-4.157zm7.543-5.149l-6.995 4.08 7.252 4.187 7.253-4.187-6.994-4.08c-.102-.06-.414-.06-.516 0z'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%23576B95' fill-rule='evenodd' d='M12.863 2.208l7.274 4.244c.477.278.863.954.863 1.5v8.506c0 .55-.387 1.223-.863 1.5l-7.274 4.244c-.477.278-1.25.277-1.726 0l-7.274-4.244c-.477-.278-.863-.954-.863-1.5V7.952c0-.55.387-1.223.863-1.5l7.274-4.244c.477-.278 1.25-.277 1.726 0zm6.936 6.186l-7.2 4.157v8.415l6.933-4.044c.108-.063.268-.34.268-.464l-.001-8.064zm-15.6 0l.001 8.064c0 .12.161.402.268.464l6.931 4.043v-8.414l-7.2-4.157zm7.543-5.149l-6.995 4.08 7.252 4.187 7.253-4.187-6.994-4.08c-.102-.06-.414-.06-.516 0z'/%3E%3C/svg%3E");
}

.yw_weui-wa-hotarea:after,
.yw_weui-wa-hotarea_before:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 44px;
    min-height: 44px;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 100%, 0);
}

.sns_share_btn:before {
    -webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cg fill='none'%3E    %3Cpath fill='%23D8D8D8' d='M0 0h24v24H0z' opacity='0'/%3E    %3Cpath fill='%23000' d='M14.38 3.408a1.1 1.1 0 0 0-.98 1.094l-.001 2.578-.057.006c-6.557.691-10.181 6.17-9.558 13.205a.562.562 0 0 0 .033.197.607.607 0 0 0 1.02.237.671.671 0 0 0 .16-.252l.366-.965c.41-1.036.895-1.996 1.526-2.91l.178-.25c1.561-2.139 3.61-3.426 6.289-3.54l.043-.001.001 3.28a1.1 1.1 0 0 0 1.878.779l5.44-5.44a1.6 1.6 0 0 0 0-2.262l-5.44-5.44a1.1 1.1 0 0 0-.778-.322l-.12.006zm.219 1.334l5.27 5.27.05.063a.4.4 0 0 1-.05.503l-5.27 5.269v-4.229l-.584-.014c-3.542-.088-6.2 1.546-8.113 4.312l-.251.376c-.162.252-.315.507-.46.765l-.217.405.002-.017c.471-5.235 3.75-8.905 9.058-9.212L14.6 8.2V4.742z'/%3E  %3C/g%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cg fill='none'%3E    %3Cpath fill='%23D8D8D8' d='M0 0h24v24H0z' opacity='0'/%3E    %3Cpath fill='%23000' d='M14.38 3.408a1.1 1.1 0 0 0-.98 1.094l-.001 2.578-.057.006c-6.557.691-10.181 6.17-9.558 13.205a.562.562 0 0 0 .033.197.607.607 0 0 0 1.02.237.671.671 0 0 0 .16-.252l.366-.965c.41-1.036.895-1.996 1.526-2.91l.178-.25c1.561-2.139 3.61-3.426 6.289-3.54l.043-.001.001 3.28a1.1 1.1 0 0 0 1.878.779l5.44-5.44a1.6 1.6 0 0 0 0-2.262l-5.44-5.44a1.1 1.1 0 0 0-.778-.322l-.12.006zm.219 1.334l5.27 5.27.05.063a.4.4 0 0 1-.05.503l-5.27 5.269v-4.229l-.584-.014c-3.542-.088-6.2 1.546-8.113 4.312l-.251.376c-.162.252-.315.507-.46.765l-.217.405.002-.017c.471-5.235 3.75-8.905 9.058-9.212L14.6 8.2V4.742z'/%3E  %3C/g%3E%3C/svg%3E");
}

.sns_opr_btn:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    width: 1em;
    height: 1em;
    margin-top: -0.1em;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: currentColor;
}

.yw_rich_media_tool .yw_meta_primary {
    margin-right: 20px;
}

.function_hd {
    padding: 16px 16px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.35;
    color: rgba(0, 0, 0, 0.3);
}



.relate_mod_transition {
    -webkit-transition: all .5s;
    transition: all .5s;
    opacity: 0;
    font-size: 16px;
}

.function_mod {
    background: #fff;
    border-radius: 8px;
    margin: 12px 0 0;
}


.related_container {
    padding-left: 8px;
    padding-right: 8px;
}

.rich_media_area_extra {
    padding: 0 0 40px;
    padding: 0 constant(safe-area-inset-right) calc(40px + constant(safe-area-inset-bottom)) constant(safe-area-inset-left);
    padding: 0 env(safe-area-inset-right) calc(40px + env(safe-area-inset-bottom)) env(safe-area-inset-left);
}

.relate_article_list .weui-media-box_appmsg {
    min-height: 4.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.weui-media-box_appmsg {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.weui-media-box {
    padding: 16px;
    position: relative;
}

.weui-media-box_appmsg .weui-media-box__bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}


.ellipsis_relate_title.relate_article_default {
    letter-spacing: 0;
}

.ellipsis_relate_title.weui_ellipsis_mod_wrp,
.ellipsis_relate_title .weui_ellipsis_mod,
.ellipsis_relate_title .weui_ellipsis_mod_inner,
.ellipsis_relate_title .weui_ellipsis_fake_mod {
    font-size: 16px;
}

.weui_ellipsis_mod_wrp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 0;
    font-size: 14px;
    letter-spacing: 36px;
    color: transparent;
    position: relative;
    overflow: hidden;
}


.ellipsis_relate_title.weui_ellipsis_mod_wrp,
.ellipsis_relate_title .weui_ellipsis_mod,
.ellipsis_relate_title .weui_ellipsis_mod_inner,
.ellipsis_relate_title .weui_ellipsis_fake_mod {
    font-size: 16px;
}

.weui_ellipsis_fake_mod {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 100px;
    position: absolute;
    color: transparent;
    letter-spacing: 0;
    width: 100%;
    margin-left: 50%;
    top: 0;
}

.ellipsis_relate_title .weui_ellipsis_fake_inner {
    position: relative;
    top: -9999em;
}

.weui_ellipsis_fake_inner {
    width: 100%;
    height: 100%;
    margin-left: -50%;
}

.weui_ellipsis_fake_mod>* {
    float: right;
}

.weui_ellipsis_fake_placeholder {
    width: 50%;
    height: calc(2.8em);
}

.weui_ellipsis_fake_mod>* {
    float: right;
}

.weui_ellipsis_fake_extra {
    margin-top: -1.4em;
    color: rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 1;
}

.weui_ellipsis_fake_mod>* {
    float: right;
}


.ellipsis_relate_title.weui_ellipsis_mod_wrp,
.ellipsis_relate_title .weui_ellipsis_mod,
.ellipsis_relate_title .weui_ellipsis_mod_inner,
.ellipsis_relate_title .weui_ellipsis_fake_mod {
    font-size: 16px;
}

.weui_ellipsis_mod_inner {
    display: inline;
    font-size: 14px;
    line-height: 0;
    color: rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 1;
}


.weui_ellipsis_mod {
    position: relative;
}

.weui_ellipsis_mod {
    line-height: 1.4;
    font-size: 14px;
    letter-spacing: 0;
}

.weui-media-box_appmsg .weui-media-box__bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}

.relate_profile_nickname {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    display: block;
}



.relate_article_list .weui-media-box__info {
    overflow: visible;
    margin-top: .5em;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    padding-bottom: 0;
    line-height: 1.3;
    height: 18px;
    position: relative;
    padding-right: 28px;
}

.weui-media-box__info {
    display: block;
    margin-top: 16px;
    padding-bottom: 4px;
    font-size: 13px;
    color: rgba(0, 0, 0, .3);
    color: var(--weui-FG-2);
    line-height: 1em;
    list-style: none;
    overflow: hidden;
}


.relate_article_opr {
    position: absolute;
    bottom: 2px;
    right: 0;
    font-size: 0;
}


.dislike_btn {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    text-indent: -999em;
    width: 2em;
    height: 1.4em;
    color: rgba(0, 0, 0, 0.2);
    -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='14' viewBox='0 0 20 14'%3E  %3Cg fill='none' fill-rule='evenodd'%3E    %3Crect width='19.5' height='13.5' x='.25' y='.25' stroke='%23D7D7D7' stroke-width='.5' rx='6.75'/%3E    %3Cpath fill='%23D7D7D7' d='M10.02 6.354l2.334-2.334.666.667-2.333 2.333 2.333 2.334-.666.666-2.334-2.333-2.333 2.333-.667-.666L9.354 7.02 7.02 4.687l.667-.667 2.333 2.334z'/%3E    %3Cpath d='M0 0h20v14H0z'/%3E  %3C/g%3E%3C/svg%3E") no-repeat 50% 50%;
    mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='14' viewBox='0 0 20 14'%3E  %3Cg fill='none' fill-rule='evenodd'%3E    %3Crect width='19.5' height='13.5' x='.25' y='.25' stroke='%23D7D7D7' stroke-width='.5' rx='6.75'/%3E    %3Cpath fill='%23D7D7D7' d='M10.02 6.354l2.334-2.334.666.667-2.333 2.333 2.333 2.334-.666.666-2.334-2.333-2.333 2.333-.667-.666L9.354 7.02 7.02 4.687l.667-.667 2.333 2.334z'/%3E    %3Cpath d='M0 0h20v14H0z'/%3E  %3C/g%3E%3C/svg%3E") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: currentColor;
}

.yw_weui-wa-hotarea,
.yw_weui-wa-hotarea-el__wrp,
.yw_weui-wa-hotarea_before {
    position: relative;
}

.yw_weui-wa-hotarea,
.yw_weui-wa-hotarea-el__wrp,
.yw_weui-wa-hotarea_before {
    position: relative;
}

.yw_weui-wa-hotarea,
.yw_weui-wa-hotarea-el__wrp,
.yw_weui-wa-hotarea_before {
    position: relative;
}

a,
button {
    cursor: pointer;
}

a,
button {
    cursor: pointer;
}

a,
button {
    cursor: pointer;
}

.yw_weui-wa-hotarea:after,
.yw_weui-wa-hotarea_before:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 44px;
    min-height: 44px;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 100%, 0);
}

.yw_weui-wa-hotarea:after,
.yw_weui-wa-hotarea_before:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 44px;
    min-height: 44px;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 100%, 0);
}


.feedback_dialog_wrp {
    opacity: 0;
}



.feedback_dialog_wrp .weui-mask {
    display: none;
    background: rgba(0, 0, 0, 0.3);
}

.weui-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.weui-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.weui-mask,
.weui-mask_transparent {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.weui-mask {
    background: rgba(0, 0, 0, .6);
}

.feedback_dialog {
    position: absolute;
    left: 8px;
    right: -68px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    margin-top: 12px;
    z-index: 5000;
    -webkit-transition: -webkit-transform .15s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    transition: -webkit-transform .15s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    transition: transform .15s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    transition: transform .15s cubic-bezier(0.175, 0.885, 0.32, 1.1), -webkit-transform .15s cubic-bezier(0.175, 0.885, 0.32, 1.1);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 80% 0;
    transform-origin: 80% 0;
}

.feedback_dialog_hd {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.feedback_dialog_bd {
    padding-top: 4px;
}

.yw_weui-flex__item {
    min-width: 0;
}

.feedback_dialog_title {
    padding-right: 16px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.9);
}

.yw_weui-flex__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}


button.weui-btn_inline,
button.weui-btn_mini,
input.weui-btn_inline,
input.weui-btn_mini {
    width: auto;
}

button.weui-btn,
input.weui-btn {
    border-width: 0;
    outline: 0;
    -webkit-appearance: none;
}

.weui-btn_mini,
.weui-btn_xmini {
    display: inline-block;
    width: auto;
    line-height: 2;
}

.weui-btn_mini {
    padding: 0 .75em;
    font-size: 16px;
}

.weui-btn[disabled],
.weui-btn_disabled {
    color: rgba(0, 0, 0, .2);
    color: var(--weui-BTN-DISABLED-FONT-COLOR);
    background-color: #f2f2f2;
    background-color: var(--weui-BTN-DEFAULT-BG);
}

.weui-btn_primary {
    background-color: #07c160;
    background-color: var(--weui-BRAND);
}

.weui-btn {
    position: relative;
    display: block;
    width: 184px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 1.41176471;
    border-radius: 4px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.feedback_tag_list {
    font-size: 0;
}

.feedback_tag_item {
    margin-right: 12px;
    margin-top: 12px;
    display: inline-block;
    vertical-align: middle;
    line-height: 2.57;
    font-size: 14px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 100%;
    padding: 0 .85em;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: rgba(0, 0, 0, 0.9);
}

.relate_article_list .weui-media-box_appmsg .weui-media-box__ft {
    margin-left: 12px;
    border-radius: 1px;
    background-color: #ededed;
    width: 64px;
    height: 64px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
p{
    line-height: 0px;
}


.db {
    display: block;
}
.audio_area {
    margin: 16px 0;
    text-align: left;
}
.appmsg_card_context:hover {
    cursor: pointer;
}
.db {
    display: block;
}
.audio_card {
    padding: 20px 16px 24px 16px;
    overflow: hidden;
    line-height: 1.4;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
}

.appmsg_card_context {
    position: relative;
    background-color: #f7f7f7;
    border-radius: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.audio_card_bd, .audio_card_ft {
    display: block;
}
.audio_card_title {
    display: block;
    font-weight: 700;
    font-size: 17px;
    color: rgba(0,0,0,0.9);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.weui-hidden_abs.weui-hidden_abs, .weui-hidden_abs.aria_hidden_abs, .aria_hidden_abs.weui-hidden_abs, .aria_hidden_abs.aria_hidden_abs {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    left: auto;
    width: 1px;
    height: 1px;
}
.weui-hidden_abs.weui-hidden_abs, .weui-hidden_abs.aria_hidden_abs, .aria_hidden_abs.weui-hidden_abs, .aria_hidden_abs.aria_hidden_abs {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    left: auto;
    width: 1px;
    height: 1px;
}
.weui-hidden_abs {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.weui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.weui-flex_align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.weui-flex__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.weui-flex__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}
.audio_card_opr {
    display: block;
    padding-top: 30px;
}
.audio_card_progress_wrp {
    position: relative;
    display: block;
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.audio_card_progress {
    display: block;
    height: 1.2px;
    background: rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}
.audio_card_progress_inner {
    height: 100%;
    background: rgba(0,0,0,0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.audio_card_progress_buffer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.19);
}
.weui-wa-hotarea-el__wrp, .weui-wa-hotarea, .weui-wa-hotarea_before {
    position: relative;
}
.weui-wa-hotarea, .weui-wa-hotarea-el__wrp, .weui-wa-hotarea_before {
    position: relative;
}
.audio_card_progress_handle {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
}
.audio_card_progress_handle:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    top: 80%;
    left: 50%;
    margin-top: -3.5px;
    margin-left: -3.5px;
    background: rgba(0,0,0,0.9);
    border-radius: 50%;
}
.weui-hidden_abs.weui-hidden_abs, .weui-hidden_abs.aria_hidden_abs, .aria_hidden_abs.weui-hidden_abs, .aria_hidden_abs.aria_hidden_abs {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    left: auto;
    width: 1px;
    height: 1px;
}
.audio_card_progress_handle {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
    z-index: 2;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
}

.audio_card_tips {
    display: block;
    font-size: 12px;
    color: rgba(0,0,0,0.3);
    padding-top: 8px;
    line-height: 1.2;
    overflow: hidden;
}
.audio_card_tips em {
    font-style: normal;
}
.audio_card_length_current {
    float: left;
}
.audio_card_tips em {
    font-style: normal;
}
.audio_card_length_current {
    float: left;
}
.weui-hidden_abs.weui-hidden_abs, .weui-hidden_abs.aria_hidden_abs, .aria_hidden_abs.weui-hidden_abs, .aria_hidden_abs.aria_hidden_abs {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    left: auto;
    width: 1px;
    height: 1px;
}
.audio_card_tips em {
    font-style: normal;
}
.audio_card_length_total {
    float: right;
}
.audio_card_length_total:before {
    position: absolute;
    left: -9999em;
    content: "";
}
.audio_card_switch {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
    padding-left: 24px;
}
.audio_card .weui-audio-btn {
    margin-top: 4px;
}
.audio_card .weui-audio-btn {
    margin-top: 8px;
}
.weui-wa-hotarea-el__wrp, .weui-wa-hotarea, .weui-wa-hotarea_before {
    position: relative;
}
.share_audio_playing .weui-audio-btn:before {
    content: "";
    color: #07c160!important;
    -webkit-animation: weuiAudioPlaying 1.2s step-start infinite;
}
.weui-audio-btn:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 2.4em;
	height: 2.4em;
	color: rgba(0,0,0,0.9);
	-webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M14.9 2A14.17 14.17 0 0 1 19 12a14.17 14.17 0 0 1-4.1 10l-1.485-1.5A12.036 12.036 0 0 0 16.9 12c0-3.233-1.267-6.259-3.485-8.5L14.899 2zm-3.465 3.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E") no-repeat 50% 50%;
	mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M14.9 2A14.17 14.17 0 0 1 19 12a14.17 14.17 0 0 1-4.1 10l-1.485-1.5A12.036 12.036 0 0 0 16.9 12c0-3.233-1.267-6.259-3.485-8.5L14.899 2zm-3.465 3.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E") no-repeat 50% 50%;
	-webkit-mask-size: cover;
	mask-size: cover;
	background-color: currentColor
}
.weui-wa-hotarea_before:before, .weui-wa-hotarea:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    min-width: 44px;
    min-height: 44px;
    width: 100%;
    height: 100%;
	pointer-events:none;
}
.weui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.weui-flex_align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.audio_card_playtool {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 10px;
    margin-top: 14px;
    margin-bottom: -6px;
}
.audio_card_playbtn:first-child {
    margin-left: 0;
}
.reset_btn {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    display: inline-block;
    vertical-align: middle;
}
.audio_card_playbtn {
    margin: 0 16px;
    width: 4.4em;
    height: 4.4em;
    font-size: inherit;
    border-radius: 100%;
}
.reset_btn {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    display: inline-block;
    vertical-align: middle;
}
a, button {
    cursor: pointer;
}
.audio_card_playbtn:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 2.8em;
	height: 2.8em;
	-webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E  %3Cg fill-rule='evenodd'%3E    %3Cpath fill-rule='nonzero' d='M14 24.2c5.633 0 10.2-4.567 10.2-10.2 0-5.633-4.567-10.2-10.2-10.2-3.39 0-6.395 1.654-8.25 4.2H3.606C5.68 4.413 9.558 2 14 2c6.627 0 12 5.373 12 12s-5.373 12-12 12S2 20.627 2 14h1.8c0 5.633 4.567 10.2 10.2 10.2z'/%3E    %3Cg transform='translate(3 2)'%3E      %3Cpath d='M.292 6.417V0h1.75v7H.875a.583.583 0 0 1-.583-.583z'/%3E      %3Cpath d='M.292 6.417V5.25h7V7H.875a.583.583 0 0 1-.583-.583z'/%3E    %3C/g%3E    %3Cpath fill-rule='nonzero' d='M12.02 17.83V11h-1.224L9 12.249v1.174l1.71-1.192h.081v5.599zm4.431.17C17.976 18 19 17.025 19 15.6c0-1.339-.924-2.29-2.23-2.29-.662 0-1.148.232-1.453.639h-.08l.166-1.917h3.187V11h-4.14l-.357 3.928h1.115c.252-.42.695-.672 1.262-.672.791 0 1.344.554 1.344 1.373 0 .814-.548 1.353-1.353 1.353-.71 0-1.249-.416-1.325-1.046h-1.153C14.04 17.14 15.027 18 16.451 18z' opacity='.9'/%3E  %3C/g%3E%3C/svg%3E") no-repeat 50% 50%;
	mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E  %3Cg fill-rule='evenodd'%3E    %3Cpath fill-rule='nonzero' d='M14 24.2c5.633 0 10.2-4.567 10.2-10.2 0-5.633-4.567-10.2-10.2-10.2-3.39 0-6.395 1.654-8.25 4.2H3.606C5.68 4.413 9.558 2 14 2c6.627 0 12 5.373 12 12s-5.373 12-12 12S2 20.627 2 14h1.8c0 5.633 4.567 10.2 10.2 10.2z'/%3E    %3Cg transform='translate(3 2)'%3E      %3Cpath d='M.292 6.417V0h1.75v7H.875a.583.583 0 0 1-.583-.583z'/%3E      %3Cpath d='M.292 6.417V5.25h7V7H.875a.583.583 0 0 1-.583-.583z'/%3E    %3C/g%3E    %3Cpath fill-rule='nonzero' d='M12.02 17.83V11h-1.224L9 12.249v1.174l1.71-1.192h.081v5.599zm4.431.17C17.976 18 19 17.025 19 15.6c0-1.339-.924-2.29-2.23-2.29-.662 0-1.148.232-1.453.639h-.08l.166-1.917h3.187V11h-4.14l-.357 3.928h1.115c.252-.42.695-.672 1.262-.672.791 0 1.344.554 1.344 1.373 0 .814-.548 1.353-1.353 1.353-.71 0-1.249-.416-1.325-1.046h-1.153C14.04 17.14 15.027 18 16.451 18z' opacity='.9'/%3E  %3C/g%3E%3C/svg%3E") no-repeat 50% 50%;
	-webkit-mask-size: cover;
	mask-size: cover;
	background-color: currentColor
}
.weui-hidden_abs.weui-hidden_abs, .weui-hidden_abs.aria_hidden_abs, .aria_hidden_abs.weui-hidden_abs, .aria_hidden_abs.aria_hidden_abs {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    left: auto;
    width: 1px;
    height: 1px;
}
.audio_card_playbtn_multiple.audio_card_playbtn_multiple {
    background: rgba(0,0,0,0.05);
    color: rgba(0,0,0,0.9);
    font-size: 14px;
    line-height: 2.28571429;
    margin: 0 16px;
    padding: 0;
    width: 4em;
}
button.weui-btn_inline, button.weui-btn_mini, input.weui-btn_inline, input.weui-btn_mini {
    width: auto;
}
button.weui-btn, input.weui-btn {
    border-width: 0;
    outline: 0;
    -webkit-appearance: none;
}
.weui-wa-hotarea_before:before, .weui-wa-hotarea:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    min-width: 44px;
    min-height: 44px;
    width: 100%;
    height: 100%;
}
.audio_card_playbtn:last-child {
    margin-right: 0;
}
.reset_btn {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    display: inline-block;
    vertical-align: middle;
}
.audio_card_playbtn {
    margin: 0 16px;
    width: 4.4em;
    height: 4.4em;
    font-size: inherit;
    border-radius: 100%;
}
.reset_btn {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
    background-color: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    display: inline-block;
    vertical-align: middle;
}
a, button {
    cursor: pointer;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    *font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
fieldset, legend, textarea, input, button {
    padding: 0;
}
.audio_card_playbtn:last-child:before {
	-webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E  %3Cg fill-rule='evenodd' opacity='.9'%3E    %3Cpath fill-rule='nonzero' d='M14 24.2C8.367 24.2 3.8 19.633 3.8 14 3.8 8.367 8.367 3.8 14 3.8c3.39 0 6.395 1.654 8.25 4.2h2.145A11.995 11.995 0 0 0 14 2C7.373 2 2 7.373 2 14s5.373 12 12 12 12-5.373 12-12h-1.8c0 5.633-4.567 10.2-10.2 10.2z'/%3E    %3Cg transform='matrix(-1 0 0 1 25.183 2.25)'%3E      %3Cpath d='M.292 6.417V0h1.75v7H.875a.583.583 0 0 1-.583-.583z'/%3E      %3Cpath d='M.292 6.417V5.25h7V7H.875a.583.583 0 0 1-.583-.583z'/%3E    %3C/g%3E    %3Cpath fill-rule='nonzero' d='M12.02 17.83V11h-1.224L9 12.249v1.174l1.71-1.192h.081v5.599zm4.431.17C17.976 18 19 17.025 19 15.6c0-1.339-.924-2.29-2.23-2.29-.662 0-1.148.232-1.453.639h-.08l.166-1.917h3.187V11h-4.14l-.357 3.928h1.115c.252-.42.695-.672 1.262-.672.791 0 1.344.554 1.344 1.373 0 .814-.548 1.353-1.353 1.353-.71 0-1.249-.416-1.325-1.046h-1.153C14.04 17.14 15.027 18 16.451 18z'/%3E  %3C/g%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E  %3Cg fill-rule='evenodd' opacity='.9'%3E    %3Cpath fill-rule='nonzero' d='M14 24.2C8.367 24.2 3.8 19.633 3.8 14 3.8 8.367 8.367 3.8 14 3.8c3.39 0 6.395 1.654 8.25 4.2h2.145A11.995 11.995 0 0 0 14 2C7.373 2 2 7.373 2 14s5.373 12 12 12 12-5.373 12-12h-1.8c0 5.633-4.567 10.2-10.2 10.2z'/%3E    %3Cg transform='matrix(-1 0 0 1 25.183 2.25)'%3E      %3Cpath d='M.292 6.417V0h1.75v7H.875a.583.583 0 0 1-.583-.583z'/%3E      %3Cpath d='M.292 6.417V5.25h7V7H.875a.583.583 0 0 1-.583-.583z'/%3E    %3C/g%3E    %3Cpath fill-rule='nonzero' d='M12.02 17.83V11h-1.224L9 12.249v1.174l1.71-1.192h.081v5.599zm4.431.17C17.976 18 19 17.025 19 15.6c0-1.339-.924-2.29-2.23-2.29-.662 0-1.148.232-1.453.639h-.08l.166-1.917h3.187V11h-4.14l-.357 3.928h1.115c.252-.42.695-.672 1.262-.672.791 0 1.344.554 1.344 1.373 0 .814-.548 1.353-1.353 1.353-.71 0-1.249-.416-1.325-1.046h-1.153C14.04 17.14 15.027 18 16.451 18z'/%3E  %3C/g%3E%3C/svg%3E")
}
.audio_card_playbtn:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 2.8em;
	height: 2.8em;
	-webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E  %3Cg fill-rule='evenodd'%3E    %3Cpath fill-rule='nonzero' d='M14 24.2c5.633 0 10.2-4.567 10.2-10.2 0-5.633-4.567-10.2-10.2-10.2-3.39 0-6.395 1.654-8.25 4.2H3.606C5.68 4.413 9.558 2 14 2c6.627 0 12 5.373 12 12s-5.373 12-12 12S2 20.627 2 14h1.8c0 5.633 4.567 10.2 10.2 10.2z'/%3E    %3Cg transform='translate(3 2)'%3E      %3Cpath d='M.292 6.417V0h1.75v7H.875a.583.583 0 0 1-.583-.583z'/%3E      %3Cpath d='M.292 6.417V5.25h7V7H.875a.583.583 0 0 1-.583-.583z'/%3E    %3C/g%3E    %3Cpath fill-rule='nonzero' d='M12.02 17.83V11h-1.224L9 12.249v1.174l1.71-1.192h.081v5.599zm4.431.17C17.976 18 19 17.025 19 15.6c0-1.339-.924-2.29-2.23-2.29-.662 0-1.148.232-1.453.639h-.08l.166-1.917h3.187V11h-4.14l-.357 3.928h1.115c.252-.42.695-.672 1.262-.672.791 0 1.344.554 1.344 1.373 0 .814-.548 1.353-1.353 1.353-.71 0-1.249-.416-1.325-1.046h-1.153C14.04 17.14 15.027 18 16.451 18z' opacity='.9'/%3E  %3C/g%3E%3C/svg%3E") no-repeat 50% 50%;
	mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28'%3E  %3Cg fill-rule='evenodd'%3E    %3Cpath fill-rule='nonzero' d='M14 24.2c5.633 0 10.2-4.567 10.2-10.2 0-5.633-4.567-10.2-10.2-10.2-3.39 0-6.395 1.654-8.25 4.2H3.606C5.68 4.413 9.558 2 14 2c6.627 0 12 5.373 12 12s-5.373 12-12 12S2 20.627 2 14h1.8c0 5.633 4.567 10.2 10.2 10.2z'/%3E    %3Cg transform='translate(3 2)'%3E      %3Cpath d='M.292 6.417V0h1.75v7H.875a.583.583 0 0 1-.583-.583z'/%3E      %3Cpath d='M.292 6.417V5.25h7V7H.875a.583.583 0 0 1-.583-.583z'/%3E    %3C/g%3E    %3Cpath fill-rule='nonzero' d='M12.02 17.83V11h-1.224L9 12.249v1.174l1.71-1.192h.081v5.599zm4.431.17C17.976 18 19 17.025 19 15.6c0-1.339-.924-2.29-2.23-2.29-.662 0-1.148.232-1.453.639h-.08l.166-1.917h3.187V11h-4.14l-.357 3.928h1.115c.252-.42.695-.672 1.262-.672.791 0 1.344.554 1.344 1.373 0 .814-.548 1.353-1.353 1.353-.71 0-1.249-.416-1.325-1.046h-1.153C14.04 17.14 15.027 18 16.451 18z' opacity='.9'/%3E  %3C/g%3E%3C/svg%3E") no-repeat 50% 50%;
	-webkit-mask-size: cover;
	mask-size: cover;
	background-color: currentColor
}
.weui-hidden_abs.weui-hidden_abs, .weui-hidden_abs.aria_hidden_abs, .aria_hidden_abs.weui-hidden_abs, .aria_hidden_abs.aria_hidden_abs {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    left: auto;
    width: 1px;
    height: 1px;
}
@-webkit-keyframes weuiAudioPlaying {
	30% {
		-webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M7.97 15a4.251 4.251 0 0 0 1.23-3 4.25 4.25 0 0 0-1.23-3L5 12l2.97 3z'/%3E%3C/svg%3E");
		mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M7.97 15a4.251 4.251 0 0 0 1.23-3 4.25 4.25 0 0 0-1.23-3L5 12l2.97 3z'/%3E%3C/svg%3E")
	}

	31% {
		-webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M11.435 5.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E");
		mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M11.435 5.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E")
	}

	61% {
		-webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M11.435 5.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E");
		mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M11.435 5.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E")
	}

	62% {
		-webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M14.9 2A14.17 14.17 0 0 1 19 12a14.17 14.17 0 0 1-4.1 10l-1.485-1.5A12.036 12.036 0 0 0 16.9 12c0-3.233-1.267-6.259-3.485-8.5L14.899 2zm-3.465 3.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E");
		mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M14.9 2A14.17 14.17 0 0 1 19 12a14.17 14.17 0 0 1-4.1 10l-1.485-1.5A12.036 12.036 0 0 0 16.9 12c0-3.233-1.267-6.259-3.485-8.5L14.899 2zm-3.465 3.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E")
	}

	100% {
		-webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M14.9 2A14.17 14.17 0 0 1 19 12a14.17 14.17 0 0 1-4.1 10l-1.485-1.5A12.036 12.036 0 0 0 16.9 12c0-3.233-1.267-6.259-3.485-8.5L14.899 2zm-3.465 3.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E");
		mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M14.9 2A14.17 14.17 0 0 1 19 12a14.17 14.17 0 0 1-4.1 10l-1.485-1.5A12.036 12.036 0 0 0 16.9 12c0-3.233-1.267-6.259-3.485-8.5L14.899 2zm-3.465 3.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E")
	}
}

@keyframes weuiAudioPlaying {
	30% {
		-webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M7.97 15a4.251 4.251 0 0 0 1.23-3 4.25 4.25 0 0 0-1.23-3L5 12l2.97 3z'/%3E%3C/svg%3E");
		mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M7.97 15a4.251 4.251 0 0 0 1.23-3 4.25 4.25 0 0 0-1.23-3L5 12l2.97 3z'/%3E%3C/svg%3E")
	}

	31% {
		-webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M11.435 5.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E");
		mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M11.435 5.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E")
	}

	61% {
		-webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M11.435 5.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E");
		mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M11.435 5.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E")
	}

	62% {
		-webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M14.9 2A14.17 14.17 0 0 1 19 12a14.17 14.17 0 0 1-4.1 10l-1.485-1.5A12.036 12.036 0 0 0 16.9 12c0-3.233-1.267-6.259-3.485-8.5L14.899 2zm-3.465 3.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E");
		mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M14.9 2A14.17 14.17 0 0 1 19 12a14.17 14.17 0 0 1-4.1 10l-1.485-1.5A12.036 12.036 0 0 0 16.9 12c0-3.233-1.267-6.259-3.485-8.5L14.899 2zm-3.465 3.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E")
	}

	100% {
		-webkit-mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M14.9 2A14.17 14.17 0 0 1 19 12a14.17 14.17 0 0 1-4.1 10l-1.485-1.5A12.036 12.036 0 0 0 16.9 12c0-3.233-1.267-6.259-3.485-8.5L14.899 2zm-3.465 3.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E");
		mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E  %3Cpath fill='%2307C160' d='M14.9 2A14.17 14.17 0 0 1 19 12a14.17 14.17 0 0 1-4.1 10l-1.485-1.5A12.036 12.036 0 0 0 16.9 12c0-3.233-1.267-6.259-3.485-8.5L14.899 2zm-3.465 3.5A9.21 9.21 0 0 1 14.1 12a9.21 9.21 0 0 1-2.665 6.5L9.95 17A7.077 7.077 0 0 0 12 12a7.077 7.077 0 0 0-2.05-5l1.485-1.5zM7.97 9a4.251 4.251 0 0 1 1.23 3 4.25 4.25 0 0 1-1.23 3L5 12l2.97-3z'/%3E%3C/svg%3E")
	}
}

.audio_card_playbtn.wx_tap_highlight_active {
	background: rgba(0,0,0,0.04)
}

.audio_card_playbtn_multiple.audio_card_playbtn_multiple {
    background: rgba(0,0,0,0.05);
    color: rgba(0,0,0,0.9);
    font-size: 14px;
    line-height: 2.28571429;
    margin: 0 16px;
    padding: 0;
    width: 4em;
}

.weui-btn_mini {
    font-size: 16px;
    border-radius: 6px;
}
.weui-btn {
    position: relative;
    display: block;
    width: 184px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 1.88235294;
    border-radius: 8px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.weui-audio-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 10px;
    width: 4em;
    height: 4em;
    background: #fff;
    border-radius: 50%;
}

.weui-btn:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.1);
	background-color: var(--weui-BTN-ACTIVE-MASK);
	border-radius: 8px
}
#yw_detail img{
	width:100%;
	cursor: pointer;
}
*{
	-webkit-touch-callout:none; /*系统默认菜单被禁用*/
	-webkit-user-select:none; /*webkit浏览器*/
	-khtml-user-select:none; /*早期浏览器*/
	-moz-user-select:none;/*火狐*/
	-ms-user-select:none; /*IE10*/
	user-select:none;
}
input,textarea {
	-webkit-user-select:auto; /*webkit浏览器*/
	margin: 0px;
	padding: 0px;
	outline: none;
}